.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -14px;
}

.col {
  padding-left: 28px; 
  margin-bottom: 28px;
}

@for $i from 1 through 12 {
  @media screen and (min-width: 768px) {
    .col-#{$i}--m {
      width: #{100% / (12 / $i)} !important;
    }
  }

  @media screen and (min-width: 640px) and (max-width: 767px) {
    .col-#{$i}--s {
      width: #{100% / (12 / $i)} !important;
    }
  }

  .col-#{$i} {
    width: #{100% / (12 / $i)};
  }

  
}